// base
a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}

// layout
.l-col {
  width: 50%;
}

.l-row {
  display: flex;
}

.l-header {
  margin-bottom: 10px;
  padding: 10px 20px;
  background: #fb8500;
}

// _navigation.scss
.navigation {
  display: flex;
  gap: 20px;
}

.navigation-link {
  font-size: 20px;
}

// _card.scss
.cart {
  margin-top: 10px;
  padding: 0 40px;
}

.cart-products {
  font-size: 16px;
}

.cart-title {
  font-size: 20px;
}

// _product.scss
.product {
  margin-bottom: 10px;
  padding: 20px;
  background: #8ecae6;
}

.product-description {
  font-size: 16px;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
}
